<launch>





<!-- NOT CODE YOU SHOULD WASTE TIME LOOKING AT!!! -->

<!-- A launch file to just test different nodes, changes all the time based on what needs testing. No need to go through-->





<!-- Learn about launch files in ros here: http://wiki.ros.org/roslaunch/XML -->

<!-- This launch file currently opens both camera nodes, rviz, nodes that allow pointcloud, a map server that detects obstacles
, QR code reconition node, robot_localization that updates position of robot, static transforms, joystick implementation, motor
commands, and move_base, which finds a path to desired goal-->

<!-- Currently, we need to split these nodes into different launch files so each computer can run its own nodes, not all on the jetson -->

<!-- The move_base, octomap server, robot_localization, and static tf nodes need massive restructure to create reliable navigation -->

<!-- Launches depth camera with following parameters: 
  https://github.com/IntelRealSense/realsense-ros/tree/ros1-legacy -->

  <!-- This group ns is what shows up in ros graph, making almost everything go inside this camera umbrella, will need to rework structure-->
  <group ns="camera">

  <!--This file can be found in Other Locations/opt/ros/melodic/share/launch/includes on the jetson-->
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">

  <!-- Some of these parameters are in default settings, meaning we don't need to declare them, but leave
  for now as we might need to change these for our next object recognition script-->
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_pointcloud" value="false"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="camera"/>
      <arg name="align_depth"       value="true"/>

    </include>

<!-- Launches rviz using the rgbd.launch file, opens 3 nodes that seems to not send out topics but if I get rid of them, pointcloud
disappears which is not good, maybe someone figures out why these nodes are needed? The file is in this folder--> 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_camera)/rviz/pointcloud.rviz" required="true" />
    <include file="$(find gen2bot)launch/rgbd.launch">
      <arg name="manager"                       value="realsense2_camera_manager" />
      <arg name="respawn"                       value="false" />
      <arg name="rgb"                           value="color" />
    </include>

<!-- Remaps pointcloud so that it subscribes to a topic possible for jetson to visualize, without 
this node, jetson won't publish a pointcloud, which navigation relies on -->
      <node pkg="nodelet" type="nodelet" name="points_xyzrgb_hw_registered"
            args="load depth_image_proc/point_cloud_xyzrgb realsense2_camera_manager false" respawn="false">
        <remap from="rgb/image_rect_color"        to="color/image_rect_color" />
        <remap from="rgb/camera_info"             to="color/camera_info" />
        <remap from="depth_registered/image_rect" to="aligned_depth_to_color/image_raw" />
        <remap from="depth_registered/points"     to="/camera/depth/color/points" />
      </node>

<!-- Launches tracking camera with following parameters: 
  https://github.com/IntelRealSense/realsense-ros/tree/ros1-legacy -->
    <group ns="camera">
      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="tf_prefix"                value="camera"/>
        <arg name="device_type"              value="t265"/>
        <arg name="json_file_path"           value=""/>
        <arg name="enable_sync"              value="false"/>

        <arg name="fisheye_fps"              value="30"/>

        <arg name="enable_gyro"              value="true"/>
        <arg name="enable_accel"             value="true"/>
        <arg name="enable_pose"              value="true"/>

        <arg name="linear_accel_cov"         value=".01"/>
        <arg name="initial_reset"            value="false"/>
        <arg name="reconnect_timeout"        value="6.0"/>
        <arg name="unite_imu_method"         value="linear_interpolation"/>
        <arg name="publish_odom_tf"          value="true"/>
        <arg name="publish_tf"               value="true"/>
        <arg name="odom_frame_id"            value="map"/>

        
      </include>
    </group>
  </group>
 
<!-- Object recognition package to detect QR code and display both position and orientation 
  of QR code relative to camera sensor // curently commented out to focus on move_base algorithm: 
  Check out: https://github.com/bandasaikrishna/object_detection_and_3d_pose_estimation --> 

  <!-- Will need to decide if we want to keep the gui or not, gives us camera image but takes up space and processing power-->


<!-- NEEDS MAJOR REPURPOSING->
<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">
    <rosparam file="$(find gen2bot)/config/robot_localization.yaml" command="load"/>
</node> -->

<!-- Static tranform between parent and child transforms. Arguments are position for x, y, and z followed by orientation for x, y, and z -->
<!-- These nodes just sticks a child tf to follow a parent tf a certain position and orientation away -->
<!-- Ex. I want the qr code (called object_22) to have a child digPose 5 meters away in x at all times, now we have a dig spot in front of qr code -->
<!-- However, this many nodes takes up processing power, will need to change tf tree so that there isn't so many nodes cluttered -->
<!-- Will resolve this by just having move_base_client.py get qr code position and go 5 meters in it's x direction so we only call on the position once-->

<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args= "-0.40 0.15 -0.45 0 0 0 base_link base_footprint 100"/>

</launch>
