<!-- This launch file will start all the nodes and related scripts that need to run on the laptop communicating with the robot -->
<launch>
 <!-- Launches node that converts xbox controller inputs into ROS; 
  http://wiki.ros.org/joy          http://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick -->
  <node name="joy2" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0"/>
    <param name="default_trig_val" value="true"/>
  </node>

  <!-- Node that takes ROS inputs of joystick to move motors in wheels, auger, ballscrew, and linear actuator-->
  <node name="manual_motor_control" pkg="auger" type="robot_mux_auto.py" output="screen"/>
    <!-- Launches node that converts xbox controller inputs into ROS;-->
    <!-- The GUI will also be housed here, and launched on the laptop. The GUI's package needs to be on the host laptop computer -->
    <!-- https://github.com/menayal/lunabotics_rqt_23_UI -->
      <node name = "rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" 
       args = "--perspective-file $(find lunabotics_rqt_23_UI)/perspectives/UI_1.0.perspective"/>

</launch>

